
  /* JobPanel.css */
.job-panel {
  display: flex;
  background: var(--bg-color);
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  align-items: flex-start;
}
.job-logo {
  width: 64px;
  height: 64px;
  margin-right: 12px;
  object-fit:contain;
  display: flex;
}
.job-logo-wrapper{
  color: var(--text-color);

}
.job-position{
  font-size: 1rem;
  color: var(--text-color);
}
.job-company{
  font-size: 1.2rem;
  color: var(--text-color);
}
.job-details{
  color: var(--text-color);

}
