.home-container {
  text-align: center;
  padding: 20px;
  background-color: #000000;
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.navbar {
  position:sticky;
  top:0;
  display: flex;
  justify-content: center;
  gap: 15px;
  background-color: #000000;
  padding: 10px;
}

.nav-button {
  padding: 10px 15px;
  background-color: #000000;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.nav-button:hover {
  background-color: rgb(175, 175, 175);
  color:rgb(27, 27, 27);  
}

h1{
  color:white;
}
