.home-container {
  text-align: left;
  padding: 20px;
  background-color: #000000;
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-photo{
  gap:10px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  display:flex;
  justify-content: center;
}

.navbar {
  position:sticky;
  top:0;
  display: flex;
  justify-content: center;
  gap: 15px;
  background-color: #000000;
  padding: 10px;
}

.nav-button {
  padding: 10px 15px;
  background-color: #000000;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.nav-button:hover {
  background-color: rgb(175, 175, 175);
  color:rgb(27, 27, 27);  
}

h1{
  color:white;
}

p{
  color: white;
}

.typewriter{
  color:white;
}

.fade-in {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.resume-button {
    color: rgb(255, 255, 255);
    border: black;
    padding: 6px 5px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    background-color: #000000;
}

.resume-button:hover {
    transform:scale(1.2)
}

.github-logo {
  width: 50px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.github-logo:hover {
  transform: scale(1.2);
}

.linkedin-logo {
  width: 40px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.linkedin-logo:hover {
  transform: scale(1.2);
}
.face-logo {
  width: 40px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.face-logo:hover {
  transform: scale(10.2);
}

.resume-button .onhovertype {
  opacity: 0;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  display:inline-block;
  transition: opacity 0.3s ease, width 0.3s ease;
}

.resume-button:hover .onhovertype {
  opacity: 1;
  width: 100%;
  animation: tanimation .5s steps(30) 1 forwards;
  font-size: small;
}


@keyframes tanimation {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

