:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  place-content: center;
  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  justify-content: center;
  display:flex;
}

.dark-theme{
  --bg-color: rgba(0, 0, 0, 0.5);
  --text-color: rgba(255, 255, 255, 0.87);
  --button-bg: #rgba(0, 0, 0, 0.5);
  --button-text: white;
  --hover-bg: rgb(175, 175, 175);
  --hover-text: rgb(0, 0, 0);
  --icon-color: white;
  background-image: url("back2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.light-theme{
  --icon-color:black;
  --bg-color:rgba(255, 255, 255, 0.8);
  --text-color:black;
  --button-bg:rgba(255, 255, 255, 0.8);
  --button-text:black;
  --hover-bg:rgb(203, 244, 247);
  --hover-text:black;
  background-image: url("back1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 100%;
  min-height: 100vh;
  background-color: var(--bg-color);
  color:var(--text-color);
  transition:background-color 0.3s, color 0.3s;
  position: relative;
  overflow-x: hidden;
}




