.home-container {
  text-align: center;
  padding: 20px;
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 15px;
  background-color: #353434;
  padding: 10px;
}

.nav-button {
  padding: 10px 15px;
  background-color: #000000;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.3s;
}

.nav-button:hover {
  background-color: #646cff;
}
